body{

   margin : 0;
   text-align: center;
  padding-top: 100px;
  background-color: #889E81;
  font-family: 'Orbitron', sans-serif;
}
/*div{

      border: 0;
    background-color: #B4C6A6;
}*/
h1{
                 margin-top: 0;
                   font-family: 'Jua', sans-serif;
                   font-size: 5rem;
                   color: #F3F0D7;
}
h3{
                 margin-top: 0;
                   font-family: 'Jua', sans-serif;
                   font-size: 1.5rem;
                       color: #F3F0D7;
}
h2{
                 margin-top: 0;
                 font-size: 2.5rem;
                   font-family: 'Jua', sans-serif;
                    font-weight: normal;
}
#namee{
    font-family: 'Orbitron', sans-serif;
      color: black;
}

#cloud1{
margin-left: 40rem;

}
.blah1{
  margin-top: 2rem;
    margin-bottom: 2rem;
width: 25%;
float: left;
margin-right: 30px;
}
.blah2{
  margin-top: 2rem;
    margin-bottom: 2rem;
width: 25%;
float: right;
margin-right: 30px;
}

#cloud2{

  position :absolute ;

}
.middle-container{
  margin-top: 3rem;
  background-color: #BAC7A7;
  padding-bottom: 5rem;
}
.bottom-container{
  background-color: #889E81;
padding-top: 5%;
}

.skill-row{
  width: 50%;
margin:auto 100px 150px 100px;
text-align: left;
line-height: 2;
padding-left: 15rem;
}
hr{
  height: 0;
  width:35px;
  border-style: dotted none none;
border-width: 6px;
border-color: grey;
}


/*.clean{
  clear: left;
}*/


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #BAC7A7);
  background-image: -moz-linear-gradient(top, #3498db, #BAC7A7);
  background-image: -ms-linear-gradient(top, #3498db, #BAC7A7);
  background-image: -o-linear-gradient(top, #3498db, #BAC7A7);
  background-image: linear-gradient(to bottom, #3498db, #BAC7A7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
    font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #e6da31;
  background-image: -webkit-linear-gradient(top, #e6da31, #99920f);
  background-image: -moz-linear-gradient(top, #e6da31, #99920f);
  background-image: -ms-linear-gradient(top, #e6da31, #99920f);
  background-image: -o-linear-gradient(top, #e6da31, #99920f);
  background-image: linear-gradient(to bottom, #e6da31, #99920f);
  text-decoration: none;
}

.contact-me{
  background-color: #BAC7A7;
}

p{
  line-height: 3;
}
.one{

    width: 30%;
    margin:40px auto 40px auto;

}

a{
text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  margin: auto 10px auto 10px;
  color: #BAC7A7;
}
a:hover{
  color:white;
}
